/*  Put your CSS Here */

#disc1 {
  width: 250px;
  height: 50px;
  background-color: red;
  border-radius: 20%;
  border: 1px solid black;
}

#disc2 {
  width: 200px;
  height: 50px;
  background-color: orange;
  border-radius: 20%;
  border: 1px solid black;
}

#disc3 {
  width: 150px;
  height: 50px;
  background-color: yellow;
  border-radius: 20%;
  border: 1px solid black;
}

#disc4 {
  width: 100px;
  height: 50px;
  background-color: green;
  border-radius: 20%;
  border: 1px solid black;
}

#placeholder {
  height: 200px;
  display: flex;
  justify-content: center;
}

#container {
  font-family: Verdana;
  font-weight: bolder;
  font-size: large;

  display: flex;
  flex-basis: 1, 1, auto;
}

#divA {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 33%;
}

#divB {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 33%;
}

#divC {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 33%;
}

h1 {
  color: green;
  height: 50px;
  padding: 5px;
}

.towerPeg {
  background-color: darkgrey;
  height: 250px;
  max-width: 25px;
  margin: 0 250px 0 200px;
}

#towerText {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
}

#t1 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: roboto;
  font-weight: bolder;
  font-size: larger;
}

#t2 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: roboto;
  font-weight: bolder;
  font-size: larger;
}

#t3 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: roboto;
  font-weight: bolder;
  font-size: larger;
}

button {
  height: 25px;
  margin-left: 10px;
}
